<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Unibrow!</title>
	<link rel="stylesheet" href="/css/unibrow.css" type="text/css" media="screen" title="no title" charset="utf-8">
	
    <script type='text/javascript'>
      //<![CDATA[
		/*
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23374334-1']);
        _gaq.push(['_setDomainName', 'none']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);
        
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		*/
        })();
      //]]>
    </script>
    <style type='text/css'>
      /*<![CDATA[*/
        img {
          border: none;
        }
        #footer {
          margin-top: 250px;
          text-align: center;
        }
        #footer,
        #footer a {
          color: grey;
        }
      /*]]>*/
    </style>
  </head>
  <body>
	<div id="brows">
		<img src='/images/staches/unibrow_01.png' />
		<h1>Unibrow!</h1>
    </div>
	<!--img src='/<%= @stache_num %>?src=<%= DEMO_IMAGE %>' /-->
    

	<form action="/" method="get" accept-charset="utf-8">
		<input type="text" name="src" value="" id="src" class="text" placeholder="paste the image address here"><input class="button" type="submit" value="Go! &rarr;">	
	</form>

	<h2>...or just call <%= @site %>/<%= @stache_num %>?src=<em>YOUR_IMAGE_URL</em></h2>

    <div id='footer'>
	E' un progetto <a href="http://pheeco.it">Pheeco</a> by <a href="http://jeko.net">Jeko</a>
		<br />
      Based on
      <a href='http://www.aidanfeldman.com/'>Moustachio</a>
      by
      <a href='http://www.aidanfeldman.com/'>Aidan Feldman</a>
      <br />
      <br />
      <a href='http://face.com/' title='Face Recognition by face.com'>
        <img alt='Face Recognition by face.com' src='http://static.face.com/badges/badge_2_light_bg.png' />
      </a>
    </div>
  </body>
</html>
